@model EditProjectViewModel

<div class="modal fade" id="editProjectModal-@Model.Id" tabindex="-1" aria-labelledby="#editProjectModal-@Model.Id" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title fs-5" id="exampleModalLabel">Edit Project</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="modal-img">
                    <img src="assets/modal-image.svg" alt="modal image" />
                </div>
                <div class="modal-form">
                    <div class="form-group">
                        <label class="form-label">Project Name</label>
						<input class="form-control" placeholder="Project Name" asp-for="ProjectName" />
                    </div>
                    <div class="form-group">
                        <label class="form-label">Client Name</label>
                        <input class="form-control" placeholder="Client Name" />
                    </div>
                    <div class="form-group">
                        <label class="form-label">Description</label>
                        @* <textarea class="form-control" placeholder="Type something" /> *@
                        <div class="wysiwyg">
                            <textarea id="add-project-description"></textarea>
                            <div id="add-project-description-wysiwyg-editor" class="wysiwyg-editor"></div>
                            <div id="add-project-description-wysiwyg-toolbar" clasclasssName="wysiwyg-toolbar">
                                <span class="ql-formats">
                                    <button class="ql-bold"></button>
                                    <button class="ql-italic"></button>
                                    <button class="ql-underline"></button>
                                </span>
                                <span class="ql-formats">
                                    <button class="ql-bold"></button>
                                    <button class="ql-italic"></button>
                                    <button class="ql-underline"></button>
                                </span>
                                <span class="ql-formats">
                                    <button class="ql-align" value=""></button>
                                    <button class="ql-align" value="center"></button>
                                    <button class="ql-align" value="right"></button>
                                </span>
                                <span class="ql-formats">
                                    <button class="ql-list" value="bullet"></button>
                                    <button class="ql-list" value="ordered"></button>
                                </span>
                                <span class="ql-formats">
                                    <button class="ql-link"></button>
                                </span>
                            </div>
                        </div>


                    </div>
                    <div class="date-pickers">
                        <div class="form-group">
                            <label class="form-label" for="startDate">Start Date</label>
                            <input id="startDate" class="form-control" type="date" />
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="startDate">End Date</label>
                            <input id="startDate" class="form-control" type="date" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="startDate">Budget</label>
                        <div class="budget">
                            <img class="dollar-icon" src="assets/dollar-icon.svg" alt="dollar icon" />
                            <input type="text" class="form-control budget-form" aria-label="Amount (to the nearest dollar)" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save Changes</button>
            </div>
        </div>
    </div>
</div>

