@model ProjectViewModel
<div class="project-card">
    <div class="card-header">
        <img src="@Model.Image" alt="project logo" />
        <div class="project-name">
            <h6>@Model.ProjectName</h6>
            <p>@Model.ClientName</p>
        </div>
        <div class="more-menu">
            <button type="button" class="more-btn" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="assets/more.svg" e alt="more icon" />
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
                <li>
                    <p class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#editProjectModal-@Model.Id">
                        <img src="assets/edit-pen.svg" alt="edit pen icon" />
                        Edit
                    </p>
                </li>
                <div class="separator"></div>
                <li>
                    <p class="dropdown-item delete" type="button">
                        <img src="assets/trash.svg" alt="trash icon" />
                        Delete Project
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <div class="card-content">
        <p>@Html.Raw(Model.Description)</p>
    </div>
</div>

