@model ProjectsViewModel
@{
    ViewData["Title"] = "Alpha View";
}
<div class="alpha">
    <div class="side-menu">
        <div class="logo-place">
            <img src="~/assets/alpha-logo.svg" alt="logo" />
            <p class="logo-text">alpha</p>
        </div>
        <div class="menu">
            <img src="~/assets/project-icon.svg" alt="breefcase icon" />
            <p class="">Projects</p>
        </div>
    </div>
    <div class="top-menu">
        <div class="search-place">
            <img src="~/assets/search-icon.svg" alt="search icon" />
            <input class="form-control" placeholder="Search anything..." />
        </div>
        <div class="right-menu">
            <img src="~/assets/notification-icon.svg" alt="notification icon" />
            <img src="~/assets/settings-icon.svg" alt="settings icon" />
            <div class="avatar-separator"></div>


            <div class="more-menu">
                <button type="button" class="more-btn" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="~/assets/avatar-icon.svg" alt="avatar icon" />
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                        <p class="dropdown-item semibold" type="button">
                            <img src="~/assets/avatar-icon.svg" alt="edit pen icon" />
                            Tommy Mattin-Lassein
                        </p>
                    </li>
                    <li>
                        <p class="dropdown-item" type="button">
                            <img src="~/assets/logout-icon.svg" alt="trash icon" />
                            Log Out
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="main-content">
        <div class="main-area">
            <div class="header-content">
                <h2>Projects</h2>
                <button type="button" class="btn btn-primary add-project-btn" data-bs-toggle="modal" data-bs-target="#addProjectModal">
                    <img src="~/assets/plus.svg" alt="plus icon" />
                    Add Project
                </button>
            </div>
            <div class="project-menu">
                <p>ALL[8]</p>
                <p>STARTED[8]</p>
                <p>COMPLETED[0]</p>
            </div>
            <div class="project-components">
				@if (Model.Projects != null && Model.Projects.Any())
				{
				    @foreach (var project in Model.Projects)
				    {
					    @await Html.PartialAsync("Partials/_ProjectCardPartial", project)
                        @await Html.PartialAsync("Partials/_EditProjectModalPartial", new EditProjectViewModel
                        {
                            Id = project.Id,
                            ProjectName = project.ProjectName,
                        })
				    }
				}
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("Partials/_AddProjectModalPartial", Model.AddProjectFormData)
@* @await Html.PartialAsync("Partials/_EditProjectModalPartial", Model.EditProjectFormData) *@

